name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v1

      - name: Use npm cache
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-${{ env.cache-name }}-
            ${{ runner.os }}-npm-
            ${{ runner.os }}-

      - name: Restore node modules
        run: npm ci

      - name: Lint
        run: npm run lint:ci

      - name: Test
        run: npm run test

      - name: Build
        run: npm run build && npm run zip

      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with:
          name: Dwellers_Empty_Path_JP_${{ github.sha }}.zip
          path: dist

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ver${{ github.ref }}
          draft: true

      - name: Upload Release Asset
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./dwellers-empty-path-jp-patch.zip
          asset_name: Dwellers_Empty_Path_JP_v${{ github.ref }}.zip
          asset_content_type: application/zip
